{#
/**
 * @file place.html.twig
 * Default theme implementation to present Place data.
 *
 * This template is used when viewing Place pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_place()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('place') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
